@model Spellbook.Models.User
@{
    ViewBag.Title = "Log In";
}
<br />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>Username </p>@Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } }) <br />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" }) <br />

    <p>Password </p>@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } }); <br />
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Log In" class="btn btn-primary" />
    <br />
    <br /><br />
    @Html.ActionLink("New User", "Create", "Account", null, new { @class = "nav-item nav-link" })
}