@model Spellbook.Models.Spell

@{
    ViewBag.Title = "SpellDetails";
}

<h2>SpellDetails</h2>

<div>
    <h4>Spell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ritual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ritual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtHigherLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtHigherLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassesAsInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassesAsInt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpellId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
